<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New employee page</title>
</head>
<body>
<h1>Add new employee</h1>
<form action="#" th:action="@{/add-employee}" th:object="${employee}" method="post">
    <label for="firstName">First Name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="Name">
    <span style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="lastName">
    <span style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>

    <label for="company">Company</label>
    <select id="company" th:field="*{company}">
        <option th:each="comp: ${companies}" th:value="${comp.id}" th:text="${comp.name}"></option>
    </select>
    <br>

    <input type="submit" value="Add User">
</form>
</body>
</html>